<!-- component -->
<form [formGroup]="form" onsubmit="onLogin()">
  <!-- <pre><code>{{form.value | json}}</code></pre>  para ver el valor del form dinamicamente GOD -->
  <div class="min-h-screen bg-gray-100 flex flex-col justify-center sm:py-12">
    <div class="p-10 xs:p-0 mx-auto md:w-full md:max-w-md">
      <h1 class="font-bold text-center text-2xl mb-5">Login</h1>
      <div class="bg-white shadow w-full rounded-lg divide-y divide-gray-200">
        <div class="px-5 py-7">
          <label
            class="font-semibold text-sm text-gray-600 pb-1 block"
            for="username"
            >Usuario o Mail</label
          >
          <input
            type="text"
            class="border rounded-full px-3 py-2 mt-1 mb-5 text-sm w-full"
            type="text"
            name="username"
            id="username"
            formControlName="nombreUsuario"
            autocomplete="off"
            required
          />
          <label
            class="font-semibold text-sm text-gray-600 pb-1 block"
            for="password"
            >Contraseña</label
          >
          <input
            type="text"
            class="border rounded-full px-3 py-2 mt-1 mb-5 text-sm w-full"
            type="password"
            name="password"
            id="password"
            autocomplete="off"
            formControlName="password"
            required
          />
          <button
            type="submit"
            routerLink="/menu"
            class="transition duration-200 rounded-full cursor-pointer bg-blue-500 hover:bg-blue-600 focus:bg-blue-700 focus:shadow-sm focus:ring-4 focus:ring-blue-500 focus:ring-opacity-50 text-white w-full py-2.5 text-sm shadow-sm hover:shadow-md font-semibold text-center inline-block"
            type="submit"
            (click)="onLogin()"
            novalidate
          >
            <span class="inline-block mr-2">Iniciar Sesion </span>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              class="w-4 h-4 inline-block"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M17 8l4 4m0 0l-4 4m4-4H3"
              />
            </svg>
          </button>
        </div>
      </div>
      <div class="py-5">
        <div class="grid grid-cols-2 gap-1">
          <div class="text-center sm:text-left whitespace-nowrap">
            <button
              routerLink="/login"
              class="transition duration-200 mx-5 px-5 py-4 cursor-pointer font-normal text-sm rounded-lg text-gray-500 hover:bg-gray-200 focus:outline-none focus:bg-gray-300 focus:ring-2 focus:ring-gray-400 focus:ring-opacity-50 ring-inset"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                class="w-4 h-4 inline-block align-text-top"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  stroke-width="2"
                  d="M10 19l-7-7m0 0l7-7m-7 7h18"
                />
              </svg>
              <span class="inline-block ml-1">Volver al inicio</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
