
<section class="bg-white min-w-full h-screen xl:pl-26 sm:pl-2">
  <div class="container px-6 py-10 mx-auto md:mx-auto ">
    <h1 class="w-48 h-2 mx-auto bg-gray-200 rounded-lg"></h1>
    <p class="w-64 h-2 mx-auto mt-4 bg-gray-200 rounded-lg"></p>
    <p class="w-64 h-2 mx-auto mt-4 bg-gray-200 rounded-lg sm:w-80"></p>
  </div>
  <div class="flex justify-center align-center">
    <!-- Default Card -->
    <div class="h-full flex items-center md:items-start  justify-center md:justify-start min-w-[300px] pt-4">
      <!-- Card content goes here -->
      <a class="hover:bg-gray-400 delay-50 duration-100 bg-gray-200 p-5 rounded-lg w-120 group" href="https://facusaldaa-c592d.web.app/" target="_blank">
        <!-- Image Cover -->
        <div class="h-64 bg-gray-300 rounded-lg dark:bg-gray-600">
          <img class="object-fit" src="https://i.imgur.com/9qNQE8P.png" alt="default card Image" class="w-full h-full object-cover rounded shadow" />
        </div>
        <!-- Title -->
        <h3 class="text-dark-700 font-bold mt-5">Facundo Saldaña</h3>
        <!-- Description -->
        <p class="text-dark-700 font-light mt-2 text-xs">This challenge was created by me</p>
      </a>
    </div>
</div>

</section>

