<div class="bg-gray-200 min-w-full h-screen xl:pl-26 sm:pl-2">
  <h1 class="w-48 h-2 mx-auto bg-gray-200 rounded-lg"></h1>
  <div class="pt-2 relative mx-auto text-gray-600">
    <div class="max-w-2xl mb-3 mx-auto">
      <form class="flex items-center">
        <div class="relative w-full pt-2.5">
          <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
            <svg class="w-5 h-5 mt-2.5 text-gray-500" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path>
            </svg>
          </div>
          <input type="text" (keyup)="search(txtSearch.value)" #txtSearch class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-full focus:ring-green-500 focus:border-green-500 block w-full pl-10 p-2.5" placeholder="Search Artist..." required>
        </div>
      </form>

      <div class="flex justify-center mt-4">
        <div class="flex items-center space-x-4">
          <label class="cursor-pointer">
            <input type="radio" name="searchType" value="artist" (ngModel)="searchType" (change)="changeSearchType('artist')">
            <span class="ml-2">Artists</span>
          </label>
          <label class="cursor-pointer">
            <input type="radio" name="searchType" value="track" (ngModel)="searchType"  (change)="changeSearchType('track')">
            <span class="ml-2">Songs</span>
          </label>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-grow items-center justify-center">
    <div class="grid grid-cols-2 gap-4 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-3 md:grid-cols-4 xl:grid-cols-5 lg:grid-cols-5 pb-10 pr-8">
      <ng-container *ngIf="artistasSearch.length > 0; else noResults">
        <div (click)="viewArtist(item)" *ngFor="let item of artistasSearch" class="cursor-pointer hover:text-green-600">
          <div class="cursor-pointer">
            <app-card *ngIf="searchType === 'artist'" [imageUrl]="item?.images[0]?.url" [title]="item?.name" [cardSize]="'w-40'" [type]="item.type"></app-card>
            <app-card *ngIf="searchType === 'track'" [imageUrl]="item?.album?.images[0]?.url" [title]="item?.name" [cardSize]="'w-40'" [type]="item?.type"></app-card>
          </div>
        </div>
      </ng-container>

      <ng-template #noResults>
        <div class="col-span-2 sm:col-span-3 md:col-span-4 xl:col-span-5">
          <div class="flex flex-grow justify-center items-center h-full">
            <p class="text-center">No results found.</p>
          </div>
        </div>
      </ng-template>
    </div>
  </div>
</div>
