<div class="h-full flex items-center justify-center min-w-[250px] cursor-pointer">
  <a class="hover:bg-gray-400 delay-50 duration-100 bg-secondary p-5 rounded-lg group" [ngClass]="cardSize">
    <!-- Image Cover -->
    <div [ngStyle]="getImageContainerStyle()" class="rounded-lg bg-secondary">
      <img class="object-cover w-full h-full rounded shadow" [src]="imageUrl" [alt]="title" (error)="onImageError()" />
    </div>
    <!-- Title -->
    <h3 class="text-tertiary font-bold mt-5">{{title}}</h3>

    <!-- Additional Info for Track Card -->
  </a>
</div>
