<div class="bg-gray-200 min-h-screen pb-8">
  <div class="py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
      <div class=" overflow-hidden shadow-sm rounded-lg" *ngIf="isLogged">
        <div class="md:flex">
          <!-- Artist Image -->
          <div class="md:w-1/3">
            <img class="relative inline-block h-42 w-42 rounded-full object-cover object-center p-2 mt-12" src="../../../assets/logo-flexborde2.png" alt="Artist Image" />
          </div>

          <!-- Artist Details -->
          <div class="md:w-2/3 p-8 flex flex-col justify-center">

            <!-- Verified Badge -->
            <div class="flex items-center">
              <span class="bg-blue-500 w-6 h-6 text-white pl-1.5 pt-0.5 rounded-full text-sm "><fa-icon [icon]="faCheck"></fa-icon></span>
              <span class="text-gray-500 px-2 py-1 rounded-full text-sm mb-1 mr-4 ">Verified User</span>
            </div>

            <!-- Artist Name -->
            <h2 class="text-5xl font-bold mb-4">{{user}}</h2>

            <!-- Spotify Page-->
            <a href={{artista?.external_urls?.spotify}} target="_blank" class="text-blue-700 mb-4"><span class="font-bold">Visit this user Spotify Profile</span></a>

            <!-- Monthly Listeners -->

          </div>
        </div>
        <p class="flex justify-center align-center mt-4 mb-3 text-2xl font-bold"> Favorite Songs</p>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-left">
              <tr>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"> Song </th>
                <th [ngClass]="['hidden', 'sm:table-cell', 'md:table-cell', 'lg:table-cell', 'xl:table-cell']" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"> Album </th>
                <th [ngClass]="['hidden', 'sm:table-cell', 'md:table-cell', 'lg:table-cell', 'xl:table-cell']" class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"> Artist </th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900"> Actions </th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let track of topTracks">
                <td class="whitespace-nowrap px-4 py-2 text-gray-900">{{ track.name }}</td>
                <td [ngClass]="['hidden', 'sm:table-cell', 'md:table-cell', 'lg:table-cell', 'xl:table-cell']" class="whitespace-nowrap px-4 py-2 text-gray-900">{{ track.album.name }}</td>
                <td [ngClass]="['hidden', 'sm:table-cell', 'md:table-cell', 'lg:table-cell', 'xl:table-cell']" class="whitespace-nowrap px-4 py-2 text-gray-900">{{ track.artists[0].name }}</td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-900 cursor-pointer pl-9">
                  <fa-icon [icon]="faAdd"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
