<div class="bg-gray-200 min-h-screen pb-8">
  <div class="py-12 px-4 sm:px-6 lg:px-8">
    <div class="max-w-7xl mx-auto">
      <div class="overflow-hidden shadow-sm rounded-lg" *ngIf="album">
        <div class="md:flex">
          <!-- Artist Image -->
          <div class="md:w-1/3">
            <img class="relative inline-block h-42 w-42 rounded-full object-cover object-center p-2 mt-12" [src]="album?.images?.[0]?.url" alt="Artist Image" />
          </div>

          <!-- Artist Details -->
          <div class="md:w-2/3 p-8 flex flex-col justify-center">

            <!-- Verified Badge -->
            <div class="flex items-center">
              <span class="bg-blue-500 w-6 h-6 text-white pl-1.5 pt-0.5 rounded-full text-sm "><fa-icon [icon]="faCheck"></fa-icon></span>
              <span class="text-gray-500 px-2 py-1 rounded-full text-md mb-1 mr-4">{{album.artists[0].name}}</span>
            </div>

            <!-- Artist Name -->
            <h2 class="text-5xl font-bold mb-4">{{album.name}}</h2>
          </div>
        </div>
        <p class="flex justify-center align-center mt-4 mb-3 text-2xl font-bold">Album songs</p>
        <div class="overflow-x-auto">
          <table class="min-w-full divide-y-2 divide-gray-200 bg-white text-sm">
            <thead class="text-left">
              <tr>
                <th class=" px-4 py-2 font-medium text-center text-gray-900"> Album Cover</th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-center text-gray-900">Song</th>
                <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Actions</th>
              </tr>
            </thead>

            <tbody class="divide-y divide-gray-200">
              <tr *ngFor="let track of albumTracks">
                <td class="text-center py-2">
                  <img class="mx-auto h-12 w-12 object-cover rounded-full object-center" [src]="album?.images?.[0]?.url" alt="Album Image" />
                </td>
                <td class="whitespace-nowrap px-4 py-2 text-gray-900 text-center">{{ track.name }}</td>
                <td (click)="addFavSong(track)" class="whitespace-nowrap px-4 py-2 text-gray-900 cursor-pointer pl-9">
                  <fa-icon [icon]="faAdd"></fa-icon>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
