
<section class="bg-white min-w-full h-screen xl:pl-26 sm:pl-2">
  <div class="container px-6 py-10 mx-auto md:mx-auto ">
    <h1 class="w-48 h-2 mx-auto bg-gray-200 rounded-lg"></h1>
    <!-- <p class="w-64 h-2 mx-auto mt-4 bg-gray-200 rounded-lg"></p>
    <p class="w-64 h-2 mx-auto mt-4 bg-gray-200 rounded-lg sm:w-80"></p> -->

    <!-- Default Card -->
    <div class="h-full flex items-center md:items-start  justify-center md:justify-start min-w-[300px] pt-4">
      <!-- Card content goes here -->
      <a class="hover:bg-gray-400 delay-50 duration-100 bg-secondary p-5 rounded-lg w-80 group" href="https://flextech.com.ar/" target="_blank">
        <!-- Image Cover -->
        <div class="h-64 bg-gray-300 rounded-lg dark:bg-gray-600">
          <img class="object-fit" src="https://pbs.twimg.com/media/FwwElEeWICMQ9uQ?format=jpg&name=small" alt="default card Image" class="w-full h-full object-cover rounded shadow" />
        </div>
        <!-- Title -->
        <h3 class="text-tertiary font-bold mt-5">Flex-Tech Challenge</h3>
        <!-- Description -->
        <p class="text-tertiary font-light mt-2 text-xs">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </a>
    </div>

    <div class="text-center pt-16 xl:text-start md:text-start">
      <h1 class="w-48 h-2 mx-auto bg-gray-200 rounded-lg mb-4"></h1>
      <h2 class="text-2xl font-bold">Relevant Artist for {{user}}</h2>
      <p class="text-gray-500">Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
    </div>
    <!-- Grid of Cards -->
    <div class="grid grid-cols-1 gap-8 mt-8 xl:mt-12 xl:gap-12 sm:grid-cols-2 md:grid-cols-2 xl:grid-cols-4 lg:grid-cols-3 pb-10 ">
      <div class="w-full" (click)="viewArtist(artista)" *ngFor="let artista of artistas">
        <div class="h-full flex items-center justify-center min-w-[250px] cursor-pointer">
          <!-- Card href="{{artista.external_urls.spotify}}" -->
          <a class="hover:bg-gray-400 delay-50 duration-100 bg-secondary p-5 rounded-lg w-80 group" >
            <!-- Image Cover -->
            <div class="h-64 rounded-lg bg-secondary">
              <img class="object-fit" [src]="artista?.images[0]?.url" alt="Artist Image" class="w-full h-full object-cover rounded shadow" />
            </div>
            <!-- Title -->
            <h3 class="text-tertiary font-bold mt-5">{{artista?.name}}</h3>
            <!-- Description -->
            <p class="text-tertiary font-light mt-2 text-xs">{{artista?.followers.total | number}} Followers.</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

